.container {
  width: 100%;
  display: flex;
  & .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px;

    & .favorites-title {
      width: 330px;
      text-align: center;
      margin: 5px;
      font-family: "Krona One", sans-serif;
      font-size: 20px;
    }
    & .favorites-list-container {
      background-color: white;
      width: 300px;
      height: 100px;
      margin: 5px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 5px;
      & .img-favorites {
        width: 52px;
        height: 72px;
        border: red solid 1px;
      }

      & .name-favorites {
        font-family: "Krona One", sans-serif;
        font-size: 14px;
        margin-right: 10px;
      }

      & .remove-favorite {
        width: 20px;
        height: 20px;
        padding-bottom: 1px;
        border-radius: 50%;
        border: none;
        background-color: black;
        color: white;
        text-align: center;
        &:hover {
          background-color: rgb(139, 13, 13);
        }
      }
    }
  }
  & .section2 {
    flex-grow: 2;
    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      & .series-item {
        width: 250px;
      }
    }
  }
}

.series-box {
  width: 240px;
  height: 380px;
  margin: 10px;
  padding: 15px;
  background-color: black;

  & .series-name {
    color: white;
    font-family: "Krona One", sans-serif;
    font-size: 18px;
    margin-top: 8px;
  }
}

.favorite .series-box {
  background-color: rgb(139, 13, 13);
}
